
<div  [formGroup]="grupo_" class="form-group" [ngClass]="{ 'has-error': (grupo_.get(nombre_).touched || grupo_.get(nombre_).dirty) && !grupo_.get(nombre_).valid }">
    <label class="col-md-2 control-label" for='{{nombre_}}'>{{titulo_}}</label>
        <div>
            <input class="form-control" name='{{nombre_}}' type = "date" formControlName='{{fCN_}}'/> 
            <span class="help-block" *ngIf="(grupo_.get(nombre_).touched || grupo_.get(nombre_).dirty) && grupo_.get(nombre_).errors">
                <span *ngIf="grupo_.get(nombre_).errors.required && req_">
                    El campo {{titulo_}} es requerido
                </span>
            </span>
        </div>
    </div>